/*start section athletes*/
.athletes {
    font-size: 20px;
    position: relative;
}

.athletes_img {
    width: 725px;
    position: absolute;
    bottom: -19%;
    left: 3%;
}

.athletes_img img {
    width: 100%;
    height: auto;
}

.athletes h3 {
    font-size: 36px;
    color: #c1c1c1;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 20px 10px;
}

.athletes span {
    position: relative;
    bottom: 10px;
    display: inline-block;
    border-bottom: 5px solid #5e42b0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}


.athletes p {
    font-size: 20px;
}
.athletes_row1 {
    width: 100%;
    height: 405px;
}

.athletes_row1 h2 {
    text-transform: uppercase;
    font-size: 90px;
    color: #e7e7e7;
    font-weight: bold;
    margin: 110px 0 90px 0;
}

.athletes_row2 {
    width: 100%;
    height: 255px;
    background: #f6f4fa;
}

.collaboration {
    margin-top: 60px;
}

.athletes_row3 {
    width: 100%;
    height: 295px;
    color: 295px;
    background: #5e42b0;
}

.growth {
    margin-top: 90px;
}

.growth p {
    color: #ffffff;
}

.athletes_right {
    width: 45.75%; /*732/1600*/
    float: right;
    padding-right: 12.25%;/*196/1600*/
}

.athletes .growth span {
    color: #0b0f34;
    border-bottom: 5px solid #efefef;
}

/*end section athletes*/

/* Displaying on devices with width range till 768px(small devices, tablets)*/
@media screen and (max-width: 768px) {
    .athletes {
        height: 790px;
        overflow: hidden;
    }
    .athletes p {
        font-size: 18px;
    }
    .athletes_row1 {
        height: 350px;
    }
    .athletes_row1 h2 {
        margin: 80px 0 60px 0;
    }
    .athletes_row2 {
        height: 240px;
    }
    .athletes_row3 {
        height: 200px;
    }
    .athletes_right {
        width: 61%; /*475/768*/
    }
    .growth {
        margin-top: 35px;
    }
    .athletes h3 {
       margin-bottom: 30px;
    }
    .athletes_img {
        width: 70%;
        position: absolute;
        bottom: -100px;
        left: -26%;
    }
}