
.footer_top {
    margin-top: 220px;
}

.button_download {
    width: 130px;
    height: 137px;
    background: #5e42b0; /*for old browsers*/
    background: linear-gradient(to top, #50329c, #7750da);
    cursor: pointer;
    position: absolute;
    left: 20%; /*325/1600*/
    border-radius: 30px;
}

.button_download img {
    position: absolute;
    top: 23px;
    left: 15px;
}

.button_download:hover {
    background: linear-gradient(#6737a9, #9053f3);
    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px;
}

.button_download:active {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
    box-shadow: inset rgba(0, 0, 0, .8) 0 1px 2px;
}

.footer_titles {
    position: absolute;
    left: 33%; /*490/1600*/
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_title1 {
    font-size: 90px;
    color: #ffffff;
}

.footer_title2 {
    font-size: 36px; /*36/14*/
    color: #897faf;
}

.footer_center {
    bottom: 365px;
}

#footer {
    background: #0a0e34 url('../../img/footer/footer.png') 100% no-repeat;
    background-size: cover;
    height: 956px;
}

.footer_bottom {
    position: absolute;
    width: 100%;
    bottom: 70px;
    line-height: 5;
}

.footer_bottom p {
    color: #ffffff;
    font-weight: bold;
    top: calc(50% - 7px);
    position: absolute;
    right: 30px;
}

.button_bar {
    position: absolute;
    left: calc(50% - 50px);
}

.button_link {
    display: inline-block;
    padding: 10px 10px;
    outline: none;
    border-radius: 2px;
    line-height: 2;
}

.button_link:hover {
    background: linear-gradient(#1e2235, #45439f);
    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px,
    inset rgba(0, 0, 0, .2) 0 1px,
    inset #fff 0 2px,
    rgba(0, 0, 0, .2) 0 1px 1px;
}

.button_link:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow: inset rgba(0, 0, 0, .8) 0 1px 2px,
    inset rgba(0, 0, 0, .05) 0 -1px 0,
    #fff 0 1px 1px;
}

/* Displaying on devices with width range till 768px(small devices, tablets)*/
@media screen and (max-width: 768px) {
    .footer_top {
        margin-top: 130px;
    }

    .button_download {
        left: calc(50% - 78px)
    }

    .footer_titles {
        position: static;
        text-align: center;
        margin: 220px 0 0 0;
    }

    .footer_title1 {
        font-size: 80px;
    }

    .footer_center {
        bottom: 220px;
    }

    .footer_bottom {
        bottom: 30px;
    }

    .footer_bottom .logo {
        display: none;
    }

    .footer_bottom p {
        display: none;
    }

    .button_bar {
        position: static;
        text-align: center;
    }
}

/* Displaying on devices with width range till 480px(extra small devices, phones)*/
@media screen and (max-width: 320px) {
    #footer {
        height: 570px;
        overflow: hidden;
    }

    .footer_top {
        margin-top: 95px;
    }

    .button_download {
        width: 78px;
        height: 73px;
        left: calc(50% - 39px);
        border-radius: 15px;
    }

    .button_download img {
        top: 11px;
        left: 11px;
        width: 55px;
    }

    .footer_titles {
        position: static;
        text-align: center;
        margin: 150px 0 0 0;
    }

    .footer_title1 {
        font-size: 34px;
    }

    .footer_title2 {
        font-size: 15px;
    }

    .footer_center {
        bottom: 175px;
    }

    .footer_bottom {
        bottom: 15px;
    }
}