
/*

nav {
    position: fixed;
    left: 0;
    height: 74px;
    z-index: 1;
}

nav .header-right {
    position: absolute;
    background: #2ba8db;
    width: 30%;
    height: 100%;
    right: 0;
}

nav .main-logo img {
    margin: 20px 0 21px 0;
}

@media only screen and (max-width: 601px) {
    nav .main-logo img {
        margin: 20px 30px 21px 0;
    }
}

.side-header {
    width: 100%;
    height: 40px;
}

nav .button-collapse i {
    line-height: 68px;
}

*/
