
#header {
    background: #0a0e34 url('../../img/football.png') 100% no-repeat;
    background-size: cover;
    height: 960px;
}

.logo {
    float: left;
    margin: 0 0 0 14px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header-top {
    margin-top: 65px;
}

.header-top p {
    float: right;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin: 0 30px 0 0;
}

.header-center p {
    font-size: 6.428em; /*90/14*/
    line-height: 1;
    font-weight: bold;
    color: #ffffff;
}

.p_left {
    float: left;
    margin: 0 0 0 60px;
}

.p_right {
    float: right;
    margin: 0 14px 0 0;
}

ul.nav {
    margin: 0 14px 0 0;
    float: right;
}

.nav li {
    float: left;
}

.nav > li > a {
    padding: 25px 22px;
    color: #9071ea;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #ffffff;
    background-color: inherit;
}

/*buttons*/
.buttons {
    position: absolute;
    width: 100%;
    text-align: center;
}

a.button {
    width: 310px;
    height: 75px;
    display: inline-block;
    color: #ffffff;
    background-color: #5e42b0;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 100px;
    position: relative;
    text-align: left;
}

.button_1 {
    margin-right: 2%;
}

.button_1 img, .button_2 img {
    display: block;
    position: absolute;
    top: 50%;
    max-width: 100%;
    height: auto;
}

.button_1 img {
    margin: -22px 0 0 40px;
}

.button_2 img {
    margin: -20px 0 0 60px;
}

.buttons p {
    text-transform: uppercase;
    margin: 15px 0 0 110px;
}

a.button:hover {
    background: linear-gradient(#6737a9, #9053f3);
    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px;
}

a.button:active {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
    box-shadow: inset rgba(0, 0, 0, .8) 0 1px 2px;
}

/*end button*/

/* Displaying on devices with width range till 1200px(large devices)*/
@media screen and (max-width: 1200px){

}
/* Displaying on devices with width range till 992px(medium devices, desktops)*/
@media screen and (max-width: 992px){

}
/* Displaying on devices with width range till 768px(small devices, tablets)*/
@media screen and (max-width: 768px){
    #header {
        height: 955px;
        overflow: hidden;
    }

    .header-center {
        margin: 275px 0 0 0;
        text-align: center;
    }

    .header-center p {
        font-size: 4.571em; /*64/14*/
    }

    .p_right, .p_left {
        float: none;
        margin: 0;
    }

    .nav > li > a {
        font-size: 16px;
    }

    ul.nav {
        margin: 235px 0 0 0;
        padding: 0 50px;
    }

    .nav > li > a {
        padding: 25px 25px;
    }

    .buttons {
        bottom: 90px;
    }
}
/* Displaying on devices with width range till 480px(extra small devices, phones)*/
@media screen and (max-width: 480px){

}

/*!* Large devices ( mobile, 320px) *!
@media screen and (min-width: 320px)and (max-width: 600px) {
    #header {
        height: 565px;
        overflow: hidden;
    }

    .logo {
        float: none;
        margin: 40px 0 0 0;
        display: block;
        text-align: center;
    }

    .header-top p {
        display: none;
    }

    .header-center {
        margin: 140px 0 0 0;
        text-align: center;
    }

    .header-center p {
        font-size: 2.285em; !*32/14*!
    }

    .buttons {
        bottom: 90px;
    }

    a.button {
        width: 142px;
        height: 38px;
        font-size: 0.571em;
    }

    .button_1 img, .button_2 img {
        display: block;
        position: absolute;
        top: 50%;
        max-width: 11%;
        height: auto;
    }

    .button_1 img {
        margin: -10px 0 0 20px;
    }

    .button_2 img {
        margin: -10px 0 0 20px;
    }

    .buttons p {
        text-transform: uppercase;
        margin: 10px 0 0 45px;
    }

    .p_left, .p_right {
        float: none;
        margin: 0;
    }

    .buttons {
        bottom: 95px;
    }

    .header-center + .row {
        position: absolute;
        bottom: 15px;
    }

    ul.nav {
        width: 85%;
        float: right;
    }

    .nav li {

    }

    .nav > li > a {
        padding: 5px 15px;
        font-size: 12px;
    }

    .nav li:nth-child(4) {
        padding-left: 45px;
    }
}*/


/*!* Large devices (large desktops, 768px and up) *!
@media screen and (min-width: 769px) {
    .header-center {
        margin: 395px 0 0 0;
    }

    .buttons {
        bottom: 105px;
    }

}*/
