/*start section players*/
.players {
    font-size: 20px;
    position: relative;
}
.players_img {
    width: 62%;/*995/1600*/
    position: absolute;
    top: -3%;
    right: -3%;
}

.players_img img {
    width: 100%;
    height: auto;
}

.players h3 {
    font-size: 36px;
    color: #c1c1c1;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
}

.players span {
    position: relative;
    bottom: 10px;
    display: inline-block;
    border-bottom: 5px solid #5e42b0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.players_row1 {
    width: 100%;
    height: 445px;
}

.players_row1 h2 {
    text-transform: uppercase;
    font-size: 90px;
    color: #e7e7e7;
    font-weight: bold;
    margin: 110px 0 90px 0;
}

.players_row2 {
    width: 100%;
    height: 250px;
    background: #f5f6f7;
}

.collaboration {
    margin-top: 60px;
}

.players_row3 {
    width: 100%;
    height: 265px;
    background: #0a0e34;
}

.players_row3 .growth {
    margin-top: 90px;
}
.players_row3 .growth p{
    color: #ffffff;
}

.players_right {
    width: 38.75%; /*620/1600*/
    float: left;
    margin-left: 9%;/*144/1600*/
}

.players .growth span {
    color: #9173e6;
    border-bottom: 5px solid #efefef;
}

/*end section players*/

/* Displaying on devices with width range till 768px(small devices, tablets)*/
@media screen and (max-width: 768px) {
    .players {
        height: 790px;
        overflow: hidden;
    }
    .players p {
        font-size: 18px;
    }
    .players_row1 {
        height: 350px;
    }
    .players_row1 h2 {
        margin: 80px 0 60px 0;
    }
    .players_row2 {
        height: 235px;
    }
    .players_row3 {
        height: 205px;
    }
    .players_right {
        width: 61%; /*475/768*/
    }
    .players .growth {
        margin-top: 35px;
    }
    .players h3 {
        margin-bottom: 35px;
    }
    .players_img {
        width: 85%;
        position: absolute;
        right: -26%;
        top: 60px;
    }
}