* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1600px;
    /*    width: 85%;*/
}

.container_header {
    height: inherit;
    position: relative;
}

#header {
    background: #0a0e34 url('../../img/football.png') center 100% no-repeat;
    background-size: cover;
    height: 955px;
}

.logo {
    float: left;
    margin: 50px 0 0 14px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header-top p {
    float: right;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin: 65px 30px 0 0;
}

.header-center p {
    font-size: 6.428em; /*90/14*/
    line-height: 1;
    font-weight: bold;
    color: #ffffff;
}

.p_left {
    float: left;
    margin: 0 0 0 60px;
}

.p_right {
    float: right;
    margin: 0 14px 0 0;
}

ul.nav {
    margin: 0 14px 0 0;
}

.nav li {
    float: right;
}

.nav > li > a {
    padding: 25px 22px;
    color: #9071ea;
}

.nav > li > a:hover, .nav > li > a:focus {
    font-weight: bold;
    color: #ffffff;
    background-color: inherit;
}

/*buttons*/
.buttons {
    position: absolute;
    width: 100%;
    text-align: center;
}

/*.button_1 {
    float: left;
}

.button_2 {
    float: right;
}*/

a.button {
    display: inline-block;
    color: #ffffff;
    background-color: #5e42b0;
    font-size: 12px;
    text-decoration: none;
    user-select: none;
    padding: 0 5px;
    outline: none;
    border-radius: 100px;
}

/*a.button5:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; !* для больших картинок 0 *!
    padding-right: 5px;
}

a.button5[data-apple]:before {
    content: url(http://favicon.yandex.net/favicon/twitter.com);
}

a.button5[data-google]:before {
    content: url(http://favicon.yandex.net/favicon/vk.com);
}

a.button5:hover {
    background: linear-gradient(#ececeb, #eaeaea);
    box-shadow: inset rgba(0, 0, 0, .5) 0 -1px 1px,
    inset rgba(0, 0, 0, .2) 0 1px,
    inset #fff 0 2px,
    rgba(0, 0, 0, .2) 0 1px 1px;
}

a.button5:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow: inset rgba(0, 0, 0, .8) 0 1px 2px,
    inset rgba(0, 0, 0, .05) 0 -1px 0,
    #fff 0 1px 1px;
}*/

/*end button*/
/* Large devices ( mobile, 320px) */
@media screen and (width: 320px) {
    .buttons {
        bottom: 90px;
    }

    a.button {
        width: 142px;
        height: 38px;
    }
}

/* Large devices (large desktops, 768px and up) */
@media screen and (max-width: 768px) {
    .header-center {
        margin: 275px 0 0 0;
        text-align: center;
    }

    .header-center p {
        font-size: 4.571em; /*64/14*/
    }

    .p_right, .p_left {
        float: none;
        margin: 0;
    }

    .nav > li > a {
        font-size: 16px;
    }

    ul.nav {
        margin: 235px 0 0 0;
        padding: 0 50px;
    }
    .nav > li > a {
        padding: 25px 30px;
    }

    .buttons {
        bottom: 90px;
    }

}

/* Large devices (large desktops, 768px and up) */
@media screen and (min-width: 769px) {
    .header-center {
        margin: 395px 0 0 0;
    }

    .buttons {
        bottom: 105px;
    }

    .button_1 {
        margin-right: 2%;
    }

    a.button {
        width: 310px;
        height: 75px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #header {
        height: 1082px;
    }
}

