/*start section players*/
.work_it{
    position: relative;
  /*  max-height: 730px;*/
}
.work_it_img {
    width: 50%;
    float: left;
}

.work_it_img img {
    width: 100%;
    height: auto;
}

.work_it_content {
    width: 50%;
    float: right;
}

.work_it_content h2 {
    text-transform: uppercase;
    font-size: 90px;
    color: #e6e6e6;
    font-weight: bold;
    margin: 140px 0 50px 128px;
}
.work_it_content p {
    font-size: 24px;
    color: #000000;
    margin: 0 0 0 128px;
}

.work_it_cub {
    width: 170px;/*170/1600*/
    height: 155px;/*155/730*/
    background: #5e42b0;
    position: absolute;
    top: calc(50% - 105px);
    left: calc(50% - 85px)
}
.work_it_cub span{
    position: relative;
    top: 50px;
    left: 70px;
    display: inline-block;
    border-bottom: 5px solid #8f7bc8;
    font-size: 24px;
    font-weight: bold;
    color: #f5f6f7;
}
/* Displaying on devices with width range till 768px(small devices, tablets)*/
@media screen and (max-width: 768px) {
    .work_it_img {
        width: 100%;
        float: none;
    }
    .work_it_content {
        width: 100%;
        float: none;
    }
    .work_it_content h2 {
        margin: 90px 0 38px 33px;
    }
    .work_it_content p {
        margin: 0 85px 150px 33px;
    }
    .work_it_cub {
        top: 45%;
        left: 33px;
    }
}